<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenerateReportPDF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <GenerateReportPDF.Properties.Settings>
            <setting name="GenerateReportPDF_ReportingExecutionService_ReportExecutionService"
                serializeAs="String">
                <value>http://server/ReportServer/ReportExecution2005.asmx</value>
            </setting>
            <setting name="ReportPath" serializeAs="String">
                <value>/report-path</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value>domain</value>
            </setting>
            <setting name="PdfFilePath" serializeAs="String">
                <value>c:\temp\report-4.pdf</value>
            </setting>
            <setting name="ParameterNameValue" serializeAs="String">
                <value>samuel</value>
            </setting>
        </GenerateReportPDF.Properties.Settings>
    </applicationSettings>
</configuration>